[submodule ".tools"]
	path = .tools
	url = /home/adina/fmriprep_toolbox
	datalad-id = 6715be54-a700-11ea-ac3d-ac1f6bac9bd2
[submodule ".source"]
	path = .source
	url = http://store.datalad.org/alias/hcp-structural-preprocessed
	datalad-id = aef339ec-889f-11ea-9d9c-a0369f287950
[submodule "fmriprep"]
	path = fmriprep
	url = git@gin.g-node.org:/adswa/OSRfmriprep.git
	datalad-id = c786806c-a7c2-11ea-a8f8-9bf13639e0a9
[submodule "freesurfer"]
	path = freesurfer
	url = git@gin.g-node.org:/adswa/OSRfreesurfer.git
	datalad-id = ef9c6d1e-a7c2-11ea-a8f8-9bf13639e0a9
